[build]
  command = "npm install"
  functions="server"
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
[functions]
  node_bundler = "esbuild"
  external_node_modules = ["express", "ejs","express-fileupload","nedb-promises"]